.table {
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-fondo-formulario);
    text-align: left;

    border: none;
}

.producto {
    height: 72px;
}

.producto__img-container {
    height: 128px;
    width: 128px;
    overflow: hidden;
    border-radius: 5px;
}

.producto__img-container img {
    height: 100%;
}