.table {
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-fondo-formulario);
    text-align: left;

    border: none;
}

.producto__nuevo {
    background-color: var(--color-fondo-formulario);
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
    margin: 10px 0;
    align-self: center;
}

.producto {
    height: 72px;
}

.producto__img-container {
    height: 128px;
    width: 128px;
    overflow: hidden;
    border-radius: 5px;
}

.producto__img-container img {
    height: 100%;
}

.producto__action {
    margin: 0 5px;
    cursor: pointer;
}